<div class="header clearfix">
<span class="checkout">
  <a href="/#/show">
    <i class="fa fa-shopping-cart"></i>
    My Card</a> :
  <ng-pluralize count="shopingcard.length"
                 when="{'0': 'Empty!',
                        'one': '1 item',
                        'other': '{} items'}">
  </ng-pluralize>
</span>
<span class="nav">
  <input id="cold" type="radio" ng-model="category" value="cold">
  <label for="cold">Cold</label>
  <input id="awesome" type="radio" ng-model="category" value="awesome">
  <label for="awesome">Awesome</label>
  <input id="dry" type="radio" ng-model="category" value="dry">
  <label for="dry">Dry</label>
  <input id="summer" type="radio" ng-model="category" value="summer">
  <label for="summer">Summer</label>
  <input id="lucid" type="radio" ng-model="category" value="lucid">
  <label for="lucid">Lucid</label>
  <input id="warm" type="radio" ng-model="category" value="warm">
  <label for="warm">Warm</label>
  <input id="winter" type="radio" ng-model="category" value="winter">
  <label for="winter">Winter</label>
  <input id="spring" type="radio" ng-model="category" value="spring">
  <label for"spring">Spring</label>
</span>
<span class="search">
  <input type="text" ng-model="search" placeholder="Search by name">
  <i class="fa fa-search"></i>
</span>
<!-- <form class="price">Sort by
  <input type="radio" id="highest" value="-price" ng-model="price_order">
  <label for="highest">Highest</label>
  <input type="radio" id="lowest" value="price" ng-model="price_order">
  <label for="lowest">Lowest</label>
  price
</form> -->
</div>
  <div class="bar">
    <img src="img/teaing.jpg" alt="" height="200"/>
  </div>

  <div class="price">
      Sort by <select ng-model="price_order" ng-init="price_order='-price'">
        <option value="-price"><i class="fa fa-sort-desc"></i> Highest</option>
        <option value="price"> Lowest </option>
      </select>  price
  </div>
  <section class="clearfix " ng-repeat="tea in teas | filter : { 'name' : search } | filter : category  | orderBy : price_order">
      <h1>{{tea.name}}</h1>
      <img ng-src="{{tea.imageUrl}}" alt="image" />
      <div class="inside-box">
        <p><strong>Price:</strong> {{tea.price/100 | currency }}</p>
        <p><strong>Ingredients:</strong>  {{tea.ingredients}}</p>
        <p><strong>Caffeine Scale:</strong> {{tea.caffeineScale}}</p>
        <p><strong>Category:</strong>
        <ul>
          <li ng-repeat="category in tea.categories">{{category}}</li>
        </ul>
      </div>
      <footer>
        <span ng-init="quantity=0" class="middle" ng-model="quantity">
          <i class="fa fa-plus" ng-click="show?quantity=quantity+1:null"></i>
          {{quantity}}
          <i class="fa fa-minus" ng-click="show?quantity=quantity-1:null"></i>
        </span>
        <input ng-show="show" type="button" value="Add to Bag" ng-click="update_card(tea._id, quantity);show=!show;">
        <input ng-show="!show" type="button" value="Added" class="orange">
      </footer>
  </section>
