<article class="show">
  <span class="checkout">Order Total {{ total()/100 | currency}}</span>
    <header class="clearfix">
        <h2>Quantity</h2>
        <h2>Product</h2>
        <h2>SubTotal</h2>
    </header>
    <div ng-repeat="item in shopingcard" class="clearfix each">
        <p>
          <span ng-show="change_quantity">
            {{item.quantity}}
          </span>
        <select ng-show="!change_quantity" ng-model="item.quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        </p>
      <p>
        <strong>{{item.name}}</strong>
      </p>
        <p>
          {{(item.quantity * item.price)/100 | currency }}
        </p >
        <p>
          <input ng-if="edit" type="button" value="Edit" ng-click="save=!save;edit=!edit;change_quantity=!change_quantity;">
          <input ng-if="save" type="button" value="Save" ng-click="save=!save;edit=!edit;change_quantity=!change_quantity;">
        </p>
        <p>
          <input type="button" value="Remove" ng-click="remove(item._id)">
        </p>
    </div>
</article>
  <input type="button" value="Place Order">
